{
    "name": "oauth2",
    "version": "0.0.1",

    "providers": {
        "google": {
            "id": "",
            "secret": ""
        },
        "github": {
            "id": "",
            "secret": ""
        }
    }
}
