<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Beachglass Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="relative h-full w-full bg-[url('img/hero.jpg')] bg-no-repeat bg-center bg-fixed bg-cover">
      <div class="bg-black w-full h-full lg:bg-opacity-50">
        <nav class="px-12 py-5">
          <img src="/img/logo.png" alt="Logo" class="h-12">
        </nav>
        <div class="flex justify-center">
          <form :action="getUrl()" method="POST" class="bg-black bg-opacity-70 px-16 py-16 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full" x-data="{
                    formData: { name: '', email: '', password: '', },
                    message: '',
                    login: true,
                    getUrl() {
                      return url = 'http://localhost:3000/' + (this.login ? 'sessions' : 'users')
                    },
                    inputs: [ { id: 'name', name: 'name', type: 'text', label: 'Name' , value: '' },
                              { id: 'email', name: 'email', type: 'email', label: 'Email address or phone number', value: '' },
                              { id: 'password', name: 'password', type: 'password', label: 'Password', value: ''}
                    ]
            }"
          >
            <h2 class="text-white text-4xl mb-8 font-semibold" x-text="login ? 'Sign in' : 'Register'">Sign in</h2>
            <div class="flex flex-col gap-4">
              <template x-for="item in inputs" :key="item.id">
                <div class="relative" x-show="item.id !== 'name' || !login">
                  <input x-model="item.value" :name="item.name" :type="item.type" :id="item.id"
                      class="block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none focus:ring-0 peer"
                      placeholder=" "
                  >
                  <label class="absolute text-md text-zinc-400 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3" :for="item.id" x-text="item.label"></label>
                </div>
              </template>
            </div>
            <button type="submit" class="bg-sky-600 py-3 text-white rounded-md w-full mt-10 hover:bg-sky-700 transition" x-text="login ? 'Sign in' : 'Join us'"></button>
            <div class="flex flex-row items-center gap-4 mt-8 justify-center">
              <div @click="location.href='/oauth2/google/redirect'" class="w-10 h-10 bg-white rounded-full flex items-center justify-center cursor-pointer hover:opacity-80 transition">
                <img src="/img/fcgoogle.svg" alt="Google">
              </div>
              <div @click="location.href='/oauth2/github/redirect'" class="w-10 h-10 bg-white rounded-full flex items-center justify-center cursor-pointer hover:opacity-80 transition">
                <img src="/img/fagithub.svg" alt="Github">
              </div>
            </div>
            <p class="text-neutral-500 mt-12">
              <span x-text="login ? 'First time using Beachglass Demo?' : 'Already have an account?'"></span>
              <span @click="login = ! login" class="text-white ml-1 hover:underline cursor-pointer" x-text="login ? 'Join us' : 'Sign in'"></span>.
            </p>
            <p x-text="message" x-show="message !== ''" class="text-white mt-12"></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
